@font-face {
    font-family: 'Gilroy';
    font-display: swap;
    src: url("./../font/Gilroy-Regular.ttf")
        format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    font-display: swap;
    src: url("./../font/Gilroy-Regular.woff2")
        format("woff2"), url("./../font/Gilroy-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    font-display: swap;
    src: url("./../font/Gilroy-Medium.ttf")
        format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    font-display: swap;
    src: url("./../font/Gilroy-Medium.woff2")
        format("woff2"), url("./../font/Gilroy-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    font-display: swap;
    src: url("./../font/Gilroy-Bold.ttf")
        format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    font-display: swap;
    src: url("./../font/Gilroy-Bold.woff2")
        format("woff2"), url("./../font/Gilroy-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'PP Right Sans';
    font-display: swap;
    src: url("./../font/PP-Right-Sans-Medium.ttf")
        format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'PP Right Sans';
    font-display: swap;
    src: url("./../font/PP-Right-Sans-Medium.woff2")
        format("woff2"), url("./../font/PP-Right-Sans-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: url("./../font/Roboto-Regular.ttf")
        format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: url("./../font/Roboto-Regular.woff2")
        format("woff2"), url("./../font/Roboto-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}