$base-font-size: 2rem;
$hero-title-font-size: 8.5rem;
$hero-preview-title-font-size: 3.9rem;
$hero-preview-undertitle-font-size: 1.6rem;
$hero-preview-descript-font-size: 1.8rem;

$base-line-height: 2.5rem;
$hero-title-line-height: 9.8rem;
$hero-preview-title-line-height: 4.5rem;
$hero-preview-undertitle-line-height: 2.2rem;
$hero-preview-descript-line-height: 2.5rem;

$base-color-text: #464A4F;
$base-color-text-hover: #74787e;
$footer-background-color: #E5DFD7;
$hero-title-color-text: #403F44