@import "_fonts";
@import "_vars";
@import "_mixins";
@import "set";
@import "vendor/fancybox";


[class*="__container"] {
    max-width: 154rem;
    margin: 0px auto;
    padding: 0rem 1.5rem;
}

.fancybox__container {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.scroll-lock{
    overflow: hidden;
}

body {
    background-color: #FCFBFB;
}

.link {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: $base-color-text;
    display: inline-block;
    padding-bottom: 0.2rem;
    border-bottom: 0.2rem solid rgba(143, 139, 141, 0.6);
    transition: 0.4s;

    &:hover {
        color: $base-color-text-hover;
        cursor: pointer;
    }
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.1rem;

    p {
        font-family: 'PP Right Sans';
        font-style: normal;
        font-weight: 500;
        font-size: $title-font-size;
        line-height: $title-line-height;
        text-align: center;
        text-transform: uppercase;
        color: $base-color-text;
    }
    span {
        content: '';
        display: block;
        width: 9.7rem;
        height: 0.1rem;
        background: #656565;
    }
}

@import "block/list";
@import "block/header";
@import "block/footer";
@import "block/hero";
@import "block/about";
@import "block/production";
@import "block/mission";
@import "block/answers";
@import "block/catalog-hero";
@import "block/market";
@import "block/product-hero";
@import "block/about-product";
@import "block/product-delivery";
@import "block/product-more";
@import "block/main-menu";