.about-product {
    &__container {
        padding-top: 13.9rem;
        padding-bottom: 7.1rem;
    }

    &__title {
        font-family: 'PP Right Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 6rem;
        line-height: 4.7rem;
        text-transform: uppercase;
        color: #46494F;
    }

    &__body {
        display: flex;
        gap: 6.2rem;
        margin-top: 5.7rem;
    }

    &__left {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, auto);
        grid-column-gap: 9.8rem;
    }

    &__right {
        max-width: 79.7rem;
    }

    &__name {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: $base-font-size;
        line-height: $base-line-height;
        color: $base-color-text;
        grid-column: 1;

        &_size {
            grid-row: 1;
        }

        &_material {
            grid-row: 2;
        }

        &_weight {
            grid-row: 3;
        }
    }

    &__atr {
        font-family: 'PP Right Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 2.3rem;
        line-height: 2.6rem;
        text-transform: uppercase;
        color: $base-color-text;
        grid-column: 2;

        &_size {
            grid-row: 1;
        }

        &_material {
            grid-row: 2;
        }

        &_weight {
            grid-row: 3;
        }
    }

    &__description {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: $base-font-size;
        line-height: $base-line-height;
        color: $base-color-text;
    }
}