.main-menu {
    display: none;
    background: #FCFBFB url('../img/backgrounds/bg-menu.png') no-repeat 10% 10% / cover;
    width: 100%;
    position: absolute;
    left: 0;
    top: 9.2rem;
    z-index: 9999;
    border-top: 0.1rem solid #DCD5CB;
    box-shadow: 0rem 3rem 7rem 0rem rgba(0, 0, 0, 0.1);

    &__container {
        margin-top: 5.9rem;
        margin-bottom: 10.5rem;
        display: flex;
        gap: 5rem;
    }

    &__left {
        width: 36.3rem;
    }

    &__right {}

    &__title {
        font-family: 'PP Right Sans';
        font-style: normal;
        font-weight: 500;
        font-size: $base-font-size;
        line-height: 4rem;
        text-transform: uppercase;
        color: #46494F;
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1.5rem;
        margin-top: 0.8rem;
    }

    &__link {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: $base-font-size;
        line-height: $base-line-height;
        color: $base-color-text;
        padding-bottom: 0.1rem;
        border-bottom: 0.17rem solid transparent;
        transition: 0.4s;
        
        &:hover {
            cursor: pointer;
            border-bottom: 0.17rem solid rgba(143, 139, 141, 0.6);
            // text-decoration: underline;
            color: $base-color-text-hover;
        }
    }

    &__cols {
        display: flex;
        justify-content: space-between;
        gap: 5rem;
    }

    &__col {}

    &__image {
        width: 33.3rem;
        height: 30.8rem;
        margin-top: 0.5rem;

        &_bg {
            height: 42.1rem;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__more {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 1.9rem;
        line-height: 3rem;
        color: #46494F;
        margin-top: 1.2rem;
    }
}