.production {
    &__container {
        padding-top: 7.5rem;
        padding-bottom: 7rem;
        position: relative;
    }

    &__frame {
        width: 125.4rem;
        height: 61.8rem;
        border: 0.113rem solid #DCD5CB;
        position: absolute;
        left: 14.2rem;
        top: 15.8rem;

        &_wide {
            width: 133.2rem;
            height: 55.8rem;
            left: 10.4rem;
            top: 18.7rem;
        }
    }

    &__wrapper {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: repeat(3, auto);
    }

    &__step {
        display: flex;
        align-items: end;
        position: relative;
        z-index: 999;

        &:nth-child(1) {
            grid-column: 1;
            grid-row: 2;
            margin-right: auto;
            margin-top: 2.1rem;
        }
        
        &:nth-child(2) {
            grid-column: 2;
            grid-row: 1;
        }

        &:nth-child(3) {
            grid-column: 3;
            grid-row: 2;
            margin-left: auto;
        }

        &:nth-child(4) {
            grid-column: 2;
            grid-row: 3;
            margin-top: 2.5rem;
            margin-left: 5.1rem;
        }
    }

    $step-image-block-width: 30.4rem;

    &__step-image-block {
        
        width: $step-image-block-width;
        height: 21.9rem;
        background: #FCFBFB;
        border: 0.1rem solid #DCD5CB;
        display: flex;
        align-items: center;
        justify-content: center;

        &_vertical {
            width: 21.9rem;
            height: 30.4rem;
        }
    }

    &__step-image {
        max-width: $step-image-block-width - 2,5rem;
        img {
            width: 100%;
            object-fit: contain;
        }
    }

    &__step-body {
        margin-bottom: 2.1rem;
        padding-left: 2rem;

        &_rever {
            padding-left: 0;
            margin-right: 2rem;

            .production__step-link {
                margin-left: -4.7rem;
            }
        }
    }

    &__step-number {
        width: 7.8rem;
        height: 7.8rem;
        background: #E5DFD7;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        p {
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 700;
            font-size: 1.5rem;
            line-height: 2.2rem;
            text-align: center;
            letter-spacing: 0.16em;
            text-transform: uppercase;
            color: $base-color-text;
        }
    }

    &__step-link {
        margin-left: 2.6rem;
        margin-top: 1.5rem;
    }

    &__text-block {
        max-width: 32rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        grid-column: 2;
        grid-row: 2;
        margin: 0px auto;
    }

    &__undertitle {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: $base-font-size;
        line-height: $base-line-height;
        color: #46494F;
    }

    &__title {
        font-family: 'PP Right Sans';
        font-style: normal;
        font-weight: 500;
        font-size: $title-font-size;
        line-height: 6.7rem;
        text-align: center;
        text-transform: uppercase;
        font-feature-settings: 'kern' off;
        color: $base-color-text;
    }
}