extends layout/app

block page
    .main-list
        a(href="main.html") Главная
        a(href="catalog.html") Каталог
        a(href="product-detail.html") Карточка товара (На заказ)
        a(href="product-detail-ready.html") Карточка товара (Готовая продукция)
        a(href="cart.html") Корзина
        a(href="order-regist.html") Оформление заказа
        a(href="tnx-order.html") Спасибо за заказ
        a(href="error-order.html") Ошибка в заказе
        a(href="our-contacts.html") Контакты