sections.about-hero
    .about-hero__wrapper
        .about-hero__container
            .about-hero__sub-title
                | MMateria – это премиальный вид бумаги из высокотехнологичного волокна.
            .about-hero__title
                | о компании