section.about
    .about__container
        .about__title.title
            span
            p о компании
            span
        .about__blocks
            .about__block.about-block
                .about-block__image
                    img(src="img/others/calendar.png", alt="Календарь")
                .about-block__title
                    | качество
                .about-block__description
                    | Наше качество - это не просто ожидание чего-то лучшего, это превосходство
                    | премиального и инновационного. Мы не просто должны соответствовать
                    | ожиданиям качества – мы стремимся их превосходить.
                .about-block__more.link
                    | О нас
            .about__block.about-block
                .about-block__video
                    img(src="img/others/video-prev.png", alt="Видео демо")
            .about__block.about-block
                .about-block__title
                    | технология
                .about-block__description
                    | Внедряя новейшие технологии, развивая новые компетенции, мы создаём простые
                    | и удобные продукты для каждого – при этом полезные для общества в целом.
                .about-block__image
                    img(src="img/others/notebook.png", alt="Тетрадь")
                .about-block__more.link
                    | Подробнее