section.about-product
    .about-product__container
        .about-product__title
            | О ТОВАРЕ
        .about-product__body
            .about-product__left
                .about-product__name.about-product__name_size Размер
                .about-product__atr.about-product__atr_size 70cm x 80cm
                .about-product__name.about-product__name_material Материал
                .about-product__atr.about-product__atr_material
                    | натуральный холст, акриловые/масляные краски, текстурная
                    | паста
                .about-product__name.about-product__name_weight Вес в упаковке
                .about-product__atr.about-product__atr_weight 16 кг
            .about-product__right
                .about-product__description
                    | Абстрактная работа 'Белые пионы' написана масляными красками на льняном
                    | холсте, натянутом на деревянный подрамник. Картина написана художником
                    | студии LA KARTINA полностью вручную, с использованием золотой потали
                    | (декоративных листов металлов, имитирующих настоящее золото).
                    br
                    br
                    | Наши художники напишут для вас картину в любом размере. Вы можете
                    | заказать вертикальную, горизонтальную, квадратную картину, либо даже
                    | круглую или овальную - художник доработает композицию картины, чтобы
                    | она смотрелась гармонично в выбранном формате.
                    br
                    br
                    | Также можно внести изменения в цветовую гамму картины, чтобы она более
                    | точно соответствовала цветам вашего интерьера. Картина идеально впишется
                    | в то место, где вы планируете ее повесить!