section.answers
    .answers__container
        .answers__left
            .answers__title
                | ответим на ваши вопросы
            .answers__description
                | Приглашаем к сотрудничеству коммерческие и некоммерческие компании: вода DREVO
                | подчеркнет ваш статус, достоинство и высокую репутацию.
        .answers__right
            form.answers__form.answer-form
                .answer-form__title
                    | Оставьте заявку
                .answer-form__body
                    .answer-form__left
                        input(type="text", placeholder="Ваше имя").answer-form__input.answer-form__input_name
                        input(type="email", name="email", placeholder="E-mail").answer-form__input.answer-form__input_email
                    .answer-form__right
                        input(type="tel", name="phone", placeholder="+ 7 ___ - ____ - __ - __").answer-form__input.answer-form__input_phone
                        button(type="submit").answer-form__button.link
                            | Отправить