section.catalog-hero
    .catalog-hero__container
        .catalog-hero__left
            .catalog-hero__left-inner
                .catalog-hero__title
                    | каталог картин
                .catalog-hero__description
                    | Премиальный вид бумаги из высокотехнологичного волокна. Наша бумага прочная и
                    | водостойкая
                .catalog-hero__more.link
                    | Смотреть больше
            .catalog-hero__strength
                .catalog-hero__strength-image
                    img(src="img/others/calendar.png", alt="Прочность")
                .catalog-hero__strength-body
                    .catalog-hero__strength-title
                        | Прочность
                    .catalog-hero__strength-description
                        | Прочность сродни натуральной коже, а тактильные свойства напоминают
                        | папирус и пергамент.
        .catalog-hero__right
            .catalog-hero__swiper
                .catalog-hero__swiper-wrapper
                    .catalog-hero__swiper-slide
                        .catalog-hero__swiper-image
                            img(src="img/products/product-2.png", alt="Картина")
                        .catalog-hero__swiper-name
                            p Название картины
                        .catalog-hero__swiper-inner
                            .catalog-hero__swiper-price
                                | 100.000 р.
                            a.catalog-hero__swiper-link
                                img(src="img/buttons/arrow.svg")
                    .catalog-hero__swiper-slide
                        .catalog-hero__swiper-image
                            img(src="img/products/product-3.png", alt="Картина")
                        .catalog-hero__swiper-name
                            p Название картины
                        .catalog-hero__swiper-inner
                            .catalog-hero__swiper-price
                                | 100.000 р.
                            a.catalog-hero__swiper-link
                                img(src="img/buttons/arrow.svg")
                    .catalog-hero__swiper-slide
                        .catalog-hero__swiper-image
                            img(src="img/products/product-1.png", alt="Картина")
                        .catalog-hero__swiper-name
                            p Название картины
                        .catalog-hero__swiper-inner
                            .catalog-hero__swiper-price
                                | 100.000 р.
                            a.catalog-hero__swiper-link
                                img(src="img/buttons/arrow.svg")
                .catalog-hero__swiper-btn-next
                    img(src="img/buttons/arrow.svg")