.contacts
    .contacts__container
        .contacts__sub-title
            | Будем рады вашим обращениям
        .contacts__title
            | наши Контакты
        .contacts__columns
            .contacts__column
                .contacts__column-title
                    | Телефоны
                .contacts__column-body
                    p (917) 624-1142
                    p (212) 901-0656
            .contacts__column
                .contacts__column-title
                    | Адрес
                .contacts__column-body
                    p г. Москва, метро "Автозаводская". БЦ "Омега Плаза", офис 2034/2
            .contacts__column
                .contacts__column-title
                    | Социальные сети
                .contacts__column-body
                    .contacts__socials
                        a.contacts__social
                            <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_130_1100)">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20.5188 5.2045C20.664 4.72675 20.5188 4.375 19.8231 4.375H17.5263C16.9418 4.375 16.6722 4.67863 16.5261 5.01375C16.5261 5.01375 15.358 7.81025 13.7034 9.62675C13.1679 10.1535 12.9246 10.3206 12.6324 10.3206C12.4862 10.3206 12.2666 10.1535 12.2666 9.67488V5.2045C12.2666 4.6305 12.1056 4.375 11.6191 4.375H8.00712C7.64225 4.375 7.42262 4.641 7.42262 4.89387C7.42262 5.43725 8.25037 5.56325 8.33525 7.09275V10.416C8.33525 11.1449 8.20138 11.277 7.90912 11.277C7.13037 11.277 5.236 8.46737 4.11162 5.25262C3.89375 4.627 3.67325 4.375 3.08612 4.375H0.7875C0.13125 4.375 0 4.67863 0 5.01375C0 5.6105 0.77875 8.575 3.62687 12.4959C5.52563 15.1734 8.19875 16.625 10.6339 16.625C12.0942 16.625 12.2745 16.303 12.2745 15.7474V13.7235C12.2745 13.0786 12.4128 12.95 12.8756 12.95C13.2169 12.95 13.8005 13.118 15.1637 14.4086C16.7213 15.939 16.9776 16.625 17.8544 16.625H20.1513C20.8075 16.625 21.1365 16.303 20.9475 15.666C20.7393 15.0325 19.9955 14.1129 19.0094 13.0217C18.4739 12.4005 17.6706 11.7311 17.4265 11.396C17.0861 10.9664 17.1833 10.7747 17.4265 10.3924C17.4265 10.3924 20.2265 6.51962 20.5179 5.2045H20.5188Z" fill="#9D8E7A"/>
                                </g>
                                <defs>
                                    <clipPath id="clip0_130_1100">
                                        <rect width="21" height="21" fill="white"/>
                                    </clipPath>
                                </defs>
                            </svg>
                        a.contacts__social
                            <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.5002 7.76663C8.99495 7.76663 7.76653 8.99504 7.76653 10.5003C7.76653 12.0056 8.99495 13.234 10.5002 13.234C12.0055 13.234 13.2339 12.0056 13.2339 10.5003C13.2339 8.99504 12.0055 7.76663 10.5002 7.76663ZM18.6992 10.5003C18.6992 9.36829 18.7095 8.24651 18.6459 7.11653C18.5823 5.80403 18.2829 4.63918 17.3232 3.67942C16.3614 2.7176 15.1986 2.42024 13.8861 2.35666C12.754 2.29309 11.6323 2.30334 10.5023 2.30334C9.37024 2.30334 8.24846 2.29309 7.11848 2.35666C5.80598 2.42024 4.64114 2.71965 3.68137 3.67942C2.71956 4.64124 2.42219 5.80403 2.35862 7.11653C2.29504 8.24856 2.3053 9.37034 2.3053 10.5003C2.3053 11.6303 2.29504 12.7541 2.35862 13.8841C2.42219 15.1966 2.72161 16.3615 3.68137 17.3212C4.64319 18.283 5.80598 18.5804 7.11848 18.644C8.25051 18.7075 9.37229 18.6973 10.5023 18.6973C11.6343 18.6973 12.7561 18.7075 13.8861 18.644C15.1986 18.5804 16.3634 18.281 17.3232 17.3212C18.285 16.3594 18.5823 15.1966 18.6459 13.8841C18.7115 12.7541 18.6992 11.6323 18.6992 10.5003ZM10.5002 14.7065C8.17258 14.7065 6.29407 12.828 6.29407 10.5003C6.29407 8.17268 8.17258 6.29416 10.5002 6.29416C12.8279 6.29416 14.7064 8.17268 14.7064 10.5003C14.7064 12.828 12.8279 14.7065 10.5002 14.7065ZM14.8786 7.10422C14.3352 7.10422 13.8963 6.66536 13.8963 6.1219C13.8963 5.57844 14.3352 5.13958 14.8786 5.13958C15.4221 5.13958 15.861 5.57844 15.861 6.1219C15.8611 6.25095 15.8358 6.37876 15.7865 6.49801C15.7372 6.61726 15.6649 6.72562 15.5736 6.81687C15.4824 6.90812 15.374 6.98047 15.2548 7.02978C15.1355 7.07909 15.0077 7.10439 14.8786 7.10422Z" fill="#9D8E7A"/>
                            </svg>
                        a.contacts__social
                            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M20.2232 6.36152C20.1137 5.9534 19.8988 5.58122 19.6002 5.28223C19.3016 4.98323 18.9297 4.76791 18.5217 4.65781C17.0199 4.25391 11 4.25391 11 4.25391C11 4.25391 4.98008 4.25391 3.47832 4.65566C3.07016 4.7654 2.69806 4.98061 2.39939 5.27966C2.10071 5.57871 1.88598 5.95108 1.77676 6.35938C1.375 7.86328 1.375 11 1.375 11C1.375 11 1.375 14.1367 1.77676 15.6385C1.99805 16.4678 2.65117 17.1209 3.47832 17.3422C4.98008 17.7461 11 17.7461 11 17.7461C11 17.7461 17.0199 17.7461 18.5217 17.3422C19.351 17.1209 20.002 16.4678 20.2232 15.6385C20.625 14.1367 20.625 11 20.625 11C20.625 11 20.625 7.86328 20.2232 6.36152ZM9.08789 13.8789V8.12109L14.0723 10.9785L9.08789 13.8789Z" fill="#9D8E7A"/>
                            </svg>
        .contacts__map
            iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3Ae4fab05087e8c19b23a1045c6cc8fd4726b3657c6b1a2fb1a29da3779502d59e&amp;source=constructor", frameborder="0")
