section.product-more
    .product-more__container.product-more__container_continue
        .product-more__header
            .product-more__title.product-more__title_continue
                | продолжить покупки
            a.product-more__more.link
                | В каталог
        .product-more__list
            a.product-more__item.product
                .product__image
                    img(src="img/products/product-1.png", alt="Изображение товара")
                .product__body
                    .product__name
                        | Фактурная абстракция
                    .product__price
                        | 100.000 р.
            a.product-more__item.product
                .product__image
                    img(src="img/products/product-2.png", alt="Изображение товара")
                .product__body
                    .product__name
                        | Фактурная абстракция
                    .product__price
                        | 100.000 р.
            a.product-more__item.product
                .product__image
                    img(src="img/products/product-3.png", alt="Изображение товара")
                .product__body
                    .product__name
                        | Фактурная абстракция
                    .product__price
                        | 100.000 р.
            a.product-more__item.product
                .product__image
                    img(src="img/products/product-2.png", alt="Изображение товара")
                .product__body
                    .product__name
                        | Фактурная абстракция
                    .product__price
                        | 100.000 р.