section.error
    .error__container
        .error__text
            .error__title
                | Ошибка! К сожалению, мы не смогли оформить ваш заказ.
            .error__description
                | Чтобы узнать, что пошло не так, вы можете позвонить нам по номеру 
                span + 7 999 000 11 33 
                | или написать на почту 
                span test@gmail.com
                | . Мы ответим на ваши вопросы.
            a.error__back.link
                | Вернуться в корзину
        .error__image
            img(src="img/error/picture.png")