section.hero
    .hero__container
        .hero__left
            .hero__title
                | Премиум Бумага
            .hero__description
                | Премиальный вид бумаги из высокотехнологичного волокна. Инновационная разработка
                | позволяет наносить любой вид печати.Мы способны заменить печать на традиционной
                | бумаге для книг, ежедневников, картин и других печатных изделий.
            a.hero__catalog.link
                | В каталог
        .hero__right
            .hero__preview.hero-preview
                .hero-preview__left
                    .hero-preview__under-title
                        | Прочность
                    .hero-preview__title
                        | высоко технологичное волокно
                    .hero-preview__description
                        | Прочность сродни натуральной коже, а тактильные свойства напоминают
                        | папирус и пергамент.
                .hero-preview__right
                    .hero-preview__image-block
                        .hero-preview__image
                            img(src="img/others/scroll.jpg", alt="Свиток")