section.mission
    .mission__container
        .mission__left
            .mission__seo-title
                | Заголовок для сео текста
            .mission__seo-body
                .mission__seo-logo
                    .mission__logo-img
                        img(src="img/logo-2.svg", alt="Лого")
                    .mission__logo-text
                        | премиум бумага
                .mission__seo-description
                    | MMateria – это премиальный вид бумаги из высокотехнологичного волокна.
        .mission__right
            .mission__undertitle
                | Наша Миссия
            .mission__title
                | объединить технологии и инновации ради лучшего будущего
            .mission__description
                | MMateria – это премиальный вид бумаги из высокотехнологичного волокна.
                | Инновационная разработка позволяет наносить любой вид печати. Мы способны
                | заменить печать на традиционной бумаге для книг, ежедневников, картин и
                | других печатных изделий. Наша бумага прочная и водостойкая. Ее прочность
                | сродни натуральной коже, а тактильные свойства напоминают папирус и
                | пергамент.
                br
                br
                | Наше качество - это не просто ожидание чего-то лучшего, это превосходство
                | премиального и инновационного. Наши новейшие технологии позволяют создавать
                | удобные и полезные продукты для каждого.
                br
                br
                | Мы хотим радовать и вдохновлять каждого нашего клиента – это наша мотивация
                | двигаться дальше и становиться только лучше.
                br
                | Мы заботимся об окружающей среде и стараемся ее сохранить, поэтому используем
                | только органические материалы в качестве источника производственного сырья.