section.our-production
    .our-production__container
        .our-production__left
            .our-production__title
                | собственное производство
            .our-production__images
                .our-production__decor
                .our-production__decor
                .our-production__image
                    img(src="img/about/production-1.png")
                .our-production__image
                    img(src="img/about/production-2.png")
        .our-production__right
            .our-production__description
                | MMateria – это премиальный вид бумаги из высокотехнологичного волокна.
                | Инновационная разработка позволяет наносить любой вид печати. Мы способны
                | заменить печать на традиционной бумаге для книг, ежедневников, картин и других
                | печатных изделий. Наша бумага прочная и водостойкая. Ее прочность сродни
                | натуральной коже, а тактильные свойства напоминают папирус и пергамент.
                br
                br
                | Наше качество - это не просто ожидание чего-то лучшего, это превосходство
                | премиального и инновационного.
                br
                br
                | Наши новейшие технологии позволяют создавать удобные и полезные продукты
                | для каждого.
                br
                br
                | Мы хотим радовать и вдохновлять каждого нашего клиента – это наша мотивация
                | двигаться дальше и становиться только лучше.
                br
                br
                | Мы заботимся об окружающей среде и стараемся ее сохранить, поэтому используем
                | только органические материалы в качестве источника производственного сырья.
                br
                br
                | Продукт экологически чистый. Волокно природного происхождения. Очень приятные
                | тактильные свойства.
            .our-production__more.link
                | В каталог