section.product-delivery
    .product-delivery__container
        .product-delivery__title
            | доставка и оплата
        .product-delivery__body
            .product-delivery__left
                .product-delivery__name
                    | оплата
                .product-delivery__description
                    | Внести оплату можно как наличными в студии, так и безналичным способом:
                    | перечислением оплаты на банковскую карту или на расчетный счет.
                    br
                    br
                    | При написании картины на заказ, оплата производится в два этапа. После
                    | оформления заказа и обсуждения всех пожеланий вам нужно внести предоплату
                    | в размере не менее 6 000 рублей. Оставшуюся сумму можно оплатить после того,
                    | как картина будет готова.
            .product-delivery__right
                .product-delivery__name
                    | доставка
                .product-delivery__description
                    | Забрать самому. Вы можете забрать картину из нашей студии по адресу:
                    | Холодильный переулок 3к1, стр.3, ежедневно с 10 до 20 часов.
                    br
                    br
                    | Доставка курьером. Мы доставляем наши картины до двери по  всему миру.
                    | Стоимость и сроки доставки рассчитываются индивидуально в зависимости
                    | от адреса доставки и размера картины.
                    br
                    br
                    | Доставка по России и в другие страны. Сроки и стоимость доставки
                    | рассчитываются по условиям и тарифам транспортной компании.