section.product-more
    .product-more__container
        .product-more__title.title
            span
            p смотрите так же
            span
        .product-more__list
            a.product-more__item.product
                .product__image
                    img(src="img/products/product-1.png", alt="Изображение товара")
                .product__body
                    .product__name
                        | Фактурная абстракция
                    .product__price
                        | 100.000 р.
            a.product-more__item.product
                .product__image
                    img(src="img/products/product-2.png", alt="Изображение товара")
                .product__body
                    .product__name
                        | Фактурная абстракция
                    .product__price
                        | 100.000 р.
            a.product-more__item.product
                .product__image
                    img(src="img/products/product-3.png", alt="Изображение товара")
                .product__body
                    .product__name
                        | Фактурная абстракция
                    .product__price
                        | 100.000 р.
            a.product-more__item.product
                .product__image
                    img(src="img/products/product-2.png", alt="Изображение товара")
                .product__body
                    .product__name
                        | Фактурная абстракция
                    .product__price
                        | 100.000 р.