section.product-hero
    .product-hero__container
        .product-hero__left
            .product-hero__sliders
                .product-hero__side-slider.detail-side-slider
                    .detail-side-slider__wrapper
                        .detail-side-slider__slide
                            .detail-side-slider__image
                                img(src="img/products/product-2.png")
                        .detail-side-slider__slide
                            .detail-side-slider__image
                                img(src="img/product-detail/image-1.png")
                        .detail-side-slider__slide
                            .detail-side-slider__image
                                img(src="img/product-detail/image-2.png")
                        .detail-side-slider__slide
                            .detail-side-slider__image
                                img(src="img/product-detail/image-3.png")
                        .detail-side-slider__slide
                            .detail-side-slider__image
                                img(src="img/product-detail/image-4.png")
                .product-hero__main-slider.detail-main-slider
                    .detail-main-slider__wrapper
                        .detail-main-slider__slide
                            .detail-main-slider__image
                                img(src="img/products/product-2.png")
                        .detail-main-slider__slide
                            .detail-main-slider__image
                                img(src="img/product-detail/image-1.png")
                        .detail-main-slider__slide
                            .detail-main-slider__image
                                img(src="img/product-detail/image-2.png")
                        .detail-main-slider__slide
                            .detail-main-slider__image
                                img(src="img/product-detail/image-3.png")
                        .detail-main-slider__slide
                            .detail-main-slider__image
                                img(src="img/product-detail/image-4.png")
            .product-hero__slider-controls
                .product-hero__prev-btn
                    img(src="img/buttons/arrow.svg")
                .product-hero__pagination
                .product-hero__next-btn
                    img(src="img/buttons/arrow.svg")
        .product-hero__right
            .product-hero__column
                .product-hero__title
                    | Фактурная абстракция
                .product-hero__size
                    .product-hero__atr-title
                        | Размер
                        select(name="sizeSelect").product-hero__select#sizeSelect
                            option(disabled) 70x70
                            option(value="default") 70x70
                            option(value="priseUpper") 40x120
                            option(value="priseLower") 50x40
                .product-hero__style
                    .product-hero__atr-title
                        | Стиль
                    .product-hero__atr
                        | Абстрактный
                .product-hero__term
                    .product-hero__atr-title
                        | Срок Написания
                    .product-hero__atr
                        | 3-7 дней
                .product-hero__price
                    | 100.000 р.
            .product-hero__column
                .product-hero__description
                    | Натуральный льняной холст с натяжкой на художественный подрамник.
                    br
                    br
                    | 100% ручная работа.
                    br
                    br
                    | Выберите один из шести стандартных размеров или для расчета стоимости картины
                    | по нестандартному размеру свяжитесь с нами.
                a.product-hero__button
                    | Заказать