section.production
    .production__container
        .production__frame
        .production__frame.production__frame_wide
        .production__wrapper
            .production__step
                .production__step-image-block.production__step-image-block_vertical
                    .production__step-image
                        img(src="img/productions/picture.png", alt="Картины")
                .production__step-body
                    .production__step-number
                        p 01
                    a.production__step-link.link
                        | Картины
            .production__step
                .production__step-image-block
                    .production__step-image
                        img(src="img/productions/books.png", alt="Книги")
                .production__step-body
                    .production__step-number
                        p 02
                    a.production__step-link.link
                        | Книги, ежедневники
            .production__step
                .production__step-body.production__step-body_rever
                    .production__step-number
                        p 03
                    a.production__step-link.link
                        | Календари
                .production__step-image-block.production__step-image-block_vertical
                    .production__step-image
                        img(src="img/productions/calendar.png", alt="Календари")
            .production__step
                .production__step-image-block
                    .production__step-image
                        img(src="img/productions/other.png", alt="Другое")
                .production__step-body
                    .production__step-number
                        p 04
                    a.production__step-link.link
                        | Другое
            .production__text-block
                .production__undertitle
                    | Каталог
                .production__title
                    | Наша Продукция