section.technology
    .technology__container
        .technology__title.title
            span
            p технология производства
            span
        .technology__slider.slider-technology
            .slider-technology__wrapper
                .slider-technology__slide
                    .slider-technology__column-1
                        .slider-technology__main-image
                            img(src="img/technology/main-image-1.png")
                    .slider-technology__column-2
                        .slider-technology__title
                            | этап технологии
                        .slider-technology__description
                            | Мастерская ведет производство ювелирных украшений на заказ по
                            | индивидуальным и типовым проектам. Основой для разработки модели
                            | может стать эскиз, фото и даже словесное описание — дизайнер учтет
                            | всю предоставленную информацию и постарается идеально
                            | трансформировать задумку в 3D-модель. Ювелиры могут изготовить для
                            | вас стильные аксессуары и настоящие семейные реликвии, выполняя
                            | работы на высочайшем уровне даже при сложнейшем дизайне изделий.
                        .slider-technology__more.link
                            | Наша продукция
                    .slider-technology__column-3
                        .slider-technology__image
                            img(src="img/technology/image-1.png")
                .slider-technology__slide
                    .slider-technology__column-1
                        .slider-technology__main-image
                            img(src="img/technology/main-image-1.png")
                    .slider-technology__column-2
                        .slider-technology__title
                            | этап технологии
                        .slider-technology__description
                            | Мастерская ведет производство ювелирных украшений на заказ по
                            | индивидуальным и типовым проектам. Основой для разработки модели
                            | может стать эскиз, фото и даже словесное описание — дизайнер учтет
                            | всю предоставленную информацию и постарается идеально
                            | трансформировать задумку в 3D-модель. Ювелиры могут изготовить для
                            | вас стильные аксессуары и настоящие семейные реликвии, выполняя
                            | работы на высочайшем уровне даже при сложнейшем дизайне изделий.
                        .slider-technology__more.link
                            | Наша продукция
                    .slider-technology__column-3
                        .slider-technology__image
                            img(src="img/technology/image-1.png")
                .slider-technology__slide
                    .slider-technology__column-1
                        .slider-technology__main-image
                            img(src="img/technology/main-image-1.png")
                    .slider-technology__column-2
                        .slider-technology__title
                            | этап технологии
                        .slider-technology__description
                            | Мастерская ведет производство ювелирных украшений на заказ по
                            | индивидуальным и типовым проектам. Основой для разработки модели
                            | может стать эскиз, фото и даже словесное описание — дизайнер учтет
                            | всю предоставленную информацию и постарается идеально
                            | трансформировать задумку в 3D-модель. Ювелиры могут изготовить для
                            | вас стильные аксессуары и настоящие семейные реликвии, выполняя
                            | работы на высочайшем уровне даже при сложнейшем дизайне изделий.
                        .slider-technology__more.link
                            | Наша продукция
                    .slider-technology__column-3
                        .slider-technology__image
                            img(src="img/technology/image-1.png")
                .slider-technology__slide
                    .slider-technology__column-1
                        .slider-technology__main-image
                            img(src="img/technology/main-image-1.png")
                    .slider-technology__column-2
                        .slider-technology__title
                            | этап технологии
                        .slider-technology__description
                            | Мастерская ведет производство ювелирных украшений на заказ по
                            | индивидуальным и типовым проектам. Основой для разработки модели
                            | может стать эскиз, фото и даже словесное описание — дизайнер учтет
                            | всю предоставленную информацию и постарается идеально
                            | трансформировать задумку в 3D-модель. Ювелиры могут изготовить для
                            | вас стильные аксессуары и настоящие семейные реликвии, выполняя
                            | работы на высочайшем уровне даже при сложнейшем дизайне изделий.
                        .slider-technology__more.link
                            | Наша продукция
                    .slider-technology__column-3
                        .slider-technology__image
                            img(src="img/technology/image-1.png")
                
            .slider-technology__controls
                .slider-technology__pagination
                .slider-technology__btn
                    img(src="img/buttons/arrow.svg")