section.thanks
    .thanks__container
        .thanks__left
            .thanks__text
                .thanks__main-title
                    | Спасибо, ваш заказ оформлен!
                .thanks__back.link
                    | На главную
            .thanks__image
                img(src="img/others/video-prev.png")
        .thanks__right
            .thanks__title
                | Ваш заказ
            .thanks__list
                .thanks__item
                    .thanks__item-image
                        img(src="img/products/product-1.png")
                    .thanks__item-body
                        .thanks__item-title
                            | Фактурная абстракция
                        .thanks__item-description
                            | 70х70 см, натуральный холст, акриловые краски
                    .thanks__item-right
                        .thanks__item-price
                            | 100.000 р.
                        .thanks__item-count
                            | x1
                .thanks__item
                    .thanks__item-image
                        img(src="img/products/product-1.png")
                    .thanks__item-body
                        .thanks__item-title
                            | Фактурная абстракция
                        .thanks__item-description
                            | 70х70 см, натуральный холст, акриловые краски
                    .thanks__item-right
                        .thanks__item-price
                            | 100.000 р.
                        .thanks__item-count
                            | x1
            .thanks__total-block
                .thanks__total
                    | Итого
                .thanks__price
                    | 403.000 р.