main.main
    section.cart
        .cart__container
            .cart__top
                .cart__title Корзина (4)
                a.cart__back
                    .cart__back-image
                        img(src="img/buttons/arrow.svg")
                    p Назад к покупкам
            .cart__body
                .cart__header
                    .cart__head.cart__head_name Товар
                    .cart__head.cart__head_count Количество
                    .cart__head.cart__head_price Стоимость
                .cart__list
                    .cart__item.cart-item
                        .cart-item__image
                            img(src="img/products/product-1.png")
                        .cart-item__text
                            .cart-item__name
                                | Фактурная абстракция
                            .cart-item__description
                                | 70х70 см, натуральный холст, акриловые краски
                        .cart-item__count
                            .cart-item__minus -
                            .cart-item__num 1
                            .cart-item__plus +
                        .cart-item__price
                            | 100.000 р.
                        a.cart-item__delete
                            img(src="img/buttons/cross-cart.svg")
                    .cart__item.cart-item
                        .cart-item__image
                            img(src="img/products/product-3.png")
                        .cart-item__text
                            .cart-item__name
                                | Фактурная абстракция
                            .cart-item__description
                                | 70х70 см, натуральный холст, акриловые краски
                        .cart-item__count
                            .cart-item__minus -
                            .cart-item__num 1
                            .cart-item__plus +
                        .cart-item__price
                            | 100.000 р.
                        a.cart-item__delete
                            img(src="img/buttons/cross-cart.svg")
                    .cart__item.cart-item
                        .cart-item__image
                            img(src="img/products/product-2.png")
                        .cart-item__text
                            .cart-item__name
                                | Фактурная абстракция
                            .cart-item__description
                                | 70х70 см, натуральный холст, акриловые краски
                        .cart-item__count
                            .cart-item__minus -
                            .cart-item__num 1
                            .cart-item__plus +
                        .cart-item__price
                            | 100.000 р.
                        a.cart-item__delete
                            img(src="img/buttons/cross-cart.svg")
                    .cart__item.cart-item
                        .cart-item__image
                            img(src="img/products/product-1.png")
                        .cart-item__text
                            .cart-item__name
                                | Фактурная абстракция
                            .cart-item__description
                                | 70х70 см, натуральный холст, акриловые краски
                        .cart-item__count
                            .cart-item__minus -
                            .cart-item__num 1
                            .cart-item__plus +
                        .cart-item__price
                            | 100.000 р.
                        a.cart-item__delete
                            img(src="img/buttons/cross-cart.svg")
            .cart__bottom
                .cart__total-price
                    p Сумма вышего заказа:
                    .cart__price 400.000 р.
                a.cart__place
                    | оформить заказ