header.header
    .header__container
        nav.header__menu.nav
            .nav__wrapper
                ul.nav__list.nav__list_left
                    li.nav__item
                        a.nav__link#popupMenuBtn Готовая продукция
                    li.nav__item
                        a.nav__link На заказ
                    li.nav__item
                        a.nav__link О компании
                a.nav__logo
                    img(src="img/logo-1.png", alt="Лого")
                ul.nav__list.nav__list_right
                    li.nav__item
                        a.nav__link Доставка и оплата
                    li.nav__item
                        a.nav__link Контакты
                    li.nav__item
                        a.nav__link Корзина

section.main-menu
    .main-menu__container
        .main-menu__left
            .main-menu__title
                | Каталог
            .main-menu__list
                a(href="#").main-menu__link Картины
                a(href="#").main-menu__link Книги и ежедневники
                a(href="#").main-menu__link Календари
                a(href="#").main-menu__link Дипломы и сертификаты
                a(href="#").main-menu__link Визитки
                a(href="#").main-menu__link Скетчбуки
                a(href="#").main-menu__link Блокноты
                a(href="#").main-menu__link Подставки в ректоран и кафе
                a(href="#").main-menu__link Подставки под ноутбук
                a(href="#").main-menu__link Откртытки
                a(href="#").main-menu__link Упаковки
                a(href="#").main-menu__link Бирки
        .main-menu__right
            .main-menu__cols
                .main-menu__col
                    .main-menu__title Специальные предложения
                    .main-menu__image.main-menu__image_bg
                        img(src="img/products/product-4.png")
                    a.main-menu__more.link Подробнее
                .main-menu__col
                    .main-menu__title новинки
                    .main-menu__image
                        img(src="img/products/product-4.png")
                    a.main-menu__more.link Подробнее
                .main-menu__col
                    .main-menu__title подарочные сертификаты
                    .main-menu__image
                        img(src="img/products/product-5.png")
                    a.main-menu__more.link Подробнее